.App {
  font-family: Roboto, sans-serif;
  /*text-align: center;*/

  background-color: #fbfcfc;
}

.page-wrapper {
  padding: 15px;
  width: 100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}



.App-intro {
  font-size: large;
}

/*Header*/
/*------------------------------------------------------------------------------------------------------------------------------------*/

.header {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 7px 0 #f3f8f8;
  background-color: #ffffff;
  border: solid 1px #eeeff9;
  padding: 20px;
}

.options {
  color: #637280;
  font-size: 15px;
  display: inline-flex;
  position: absolute;
  top: 27px;
  right: 235.391px;
}

.active {
  padding-bottom: 25px;
  border-bottom: 5px solid #ff3c03;
}

.option {
  padding-left: 20px;
  padding-right: 20px;
}

.avatar {
  margin-left: 100px;
  align-items: center;
  display: inline-flex;
}

.avatar-img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.header-user-name {
  font-weight: normal;
  color: #637280;
  font-size: 13px;
}

.header-title {

  font-size: 20px;
  font-weight: 900;
}

.primary {
  color: #ff3c03;
}

.secondary {
  color: #AFAFAF;
}
/*------------------------------------------------------------------------------------------------------------------------------------*/

/*Side menu*/
/*------------------------------------------------------------------------------------------------------------------------------------*/
.side-menu {
  width: 15%;

  background-color: #ffffff;
  border: solid 1px #eeeff9;
  height: 900px;
  border-top: 0;

}
/*------------------------------------------------------------------------------------------------------------------------------------*/

.title {
  font-size: 18px;
  letter-spacing: 0.1px;
  color: #1a173b;
  font-weight: bold;
}

.rectangle {
  box-shadow: 0 2px 4px 0 rgba(207, 207, 207, 0.5);
  background-color: #ffffff;
  border: solid 1px #eeeff9;
  width: 100%;
  height: 75px;
  margin: 15px;
}

.chart-title {
  /*margin-left: 30px;*/
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1px;
  color: #637280;
}

.chart-section {
  box-shadow: 0 2px 4px 0 rgba(207, 207, 207, 0.5);
  background-color: #ffffff;
  border: solid 1px #eeeff9;
}

.rectangle:first-child {
  margin-left: 0;
}

.rectangle:last-child {
  margin-right: 0;
}

.horizontal {
  width: 100%;
  display: inline-flex;
}
.chart-position {
  width: 100%;
  display: inline-flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media screen and (max-width: 1233px) {
  .chart-position {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}

/*@media screen and (max-width: 1533px) {*/
  /*.chart-position {*/
    /*display: grid;*/
    /*align-items: center;*/
    /*justify-content: center;*/
  /*}*/
/*}*/