html, body, #root, .main-container {
    height: 100%;
}

.middle-body {
    height: 70%;
}
.horizontal {
    /*display: inline-flex;*/
}

.main-container {
    /*display: flex;*/
    /*flex-direction: column;*/

    -webkit-font-smoothing: antialiased;
}

.check-mark-img {
    width: 35px;
    height: 35px;
    margin-right: 15px;

}

.center {
    align-items: center;
    justify-content: center;
}

.holding-phone-img {
    height: 195px;
}

.slogan-container {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/

    /*height: 115%;*/
}

.container {
    /*height: 100%;*/
}

.slogan-container-text {
    margin-left: 25px;
    /*height: 72%;*/
}

.banner-position {
    position: relative;
    bottom: -30px;
}

.slogan-container label {
    font-size: 30px;
    font-family: HelveticaNeue, sans-serif;
    font-weight: 300;
    line-height: 0.97;
    letter-spacing: -1.3px;

    color: #ffffff;
}

.slogan-container p {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #ffffff;
    font-family: HelveticaNeue, sans-serif;

}

.success-text {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #637280
}

.banner {
    padding: 30px;
    margin-top: 15px;
    /*padding-left: 60px;*/
    /*padding-right: 60px;*/

    /*height: 229px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url("/banner.png") no-repeat center;
    background-size: cover;
}

.app-links-container label {
    line-height: 1.46;
    letter-spacing: -0.8px;
    color: #ffffff;
    font-family: HelveticaNeue, sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.app-links-container {
    /*height: 100%;*/
    /*margin-bottom: 45px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-end;*/
}

.page-body {
    height: 100%;
    /*padding: 15px;*/
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    border: solid 4px #5a53de;
}

.benefits-text {
    font-family: Roboto, sans-serif;
    font-size: 30px;
    letter-spacing: 1.1px;
    color: #637280;
}

.benefits-description {
    font-family: HelveticaNeue, sans-serif;
    font-size: 14px;
    letter-spacing: -0.6px;
    color: #637280;
    margin-bottom: 25px;

}

.bullet-point {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.bullet-point-text {
    margin-left: 15px;
    font-family: HelveticaNeue, sans-serif;
    font-size: 12px;
    letter-spacing: -0.5px;
    color: #637280;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form input {
    /*margin: 15px;*/
    /*width: 350px;*/
    margin-bottom: 15px;

    padding: 15px;
    border-radius: 3px;
    background-color: #f6f6f6;
    border: solid 1px #d9d9d9;
}

.form button {
    width: 370px;
    padding: 15px;
    border-radius: 4px;
    color: white;
    letter-spacing: -0.6px;
    font-family: HelveticaNeue, sans-serif;
    font-size: 14px;
    font-weight: bold;

    background-color: #ff3c03;
}

.footer {


    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    padding: 25px;
    padding-left: 55px;
    padding-right: 55px;

    /*padding-left: 25px;*/
    /*padding-right: 25px;*/
    background-color: #434343;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .app-links-container img {
    height: 35px;
}

.stay-in-touch-text {
    letter-spacing: -0.9px;
    color: #ffffff;
    font-size: 12px;
}

.social-links img {
    margin-top: 15px;
    margin-right: 15px;
    height: 15px;
}

.footer-title {
    font-size:16px;
    font-weight: bold;
    color: white;
}

.footer-sunchat-logo {
    height: 25px;
}
.privacy-container {
    font-size: 12px;
    letter-spacing: -0.9px;
    color: #ffffff;
    font-family: HelveticaNeue, sans-serif;
}